include *.txt *.ini *.cfg *.rst
recursive-include triweb *.ico *.png *.css *.gif *.jpg *.svg *.pt *.txt *.mak *.mako *.js *.html *.xml *.jinja2 *.webmanifest
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
