{% extends "layout.jinja2" %}

{% macro month_card(month) -%}
<div class="card cal-month mb-2">
  <div class="card-body">
    <div class="card-title">{{ month_titles[month] }}</div>
  </div>
</div>
{%- endmacro %}

{% macro workday_card(workday) -%}
<div class="card cal-workday mb-2">
  <div class="card-header"
      {%- if request.has_permission('manage') or (request.has_permission('lead') and workday.manager_id == request.identity.id) %} -%}
        onclick="window.location='{{ request.route_url('workday.edit', id=workday.id) }}'"
      {%- endif -%}>
    <div class="workday-datetime">
      <div class="workday-date"><span convert="to_date">{{ workday.date }}</span></div>
      <div class="workday-time">
        <i class="bi bi-clock me-2"></i>{{ workday.start_time.hour }}<sup>{{ '%02d' % workday.start_time.minute }}</sup> - {{ workday.end_time.hour }}<sup>{{ '%02d' % workday.end_time.minute }}</sup>
      </div>
    </div>
    {% if workday.cook %}
      <div class="workday-cook"></div>
    {% endif %}
  </div>
  <div class="card-body">
    <div class="workday-badges">
      {% if workday.vehicles | count > 0 %}
        {% for vehicle in workday.vehicles %}
          {% if vehicle.manager is not none %}
            <span class="badge" style="background-color:{{ vehicle.manager.badge_color }};">{{ vehicle.short_name or vehicle.name }}</span>
          {% else %}
            <span class="badge badge-lok">{{ vehicle.short_name or vehicle.name }}</span>
          {% endif %}
        {% endfor %}
      {% else %}
        <span class="badge badge-workshop">Werkstatt</span>
      {% endif %}
    </div>
    <div class="card-title">{{ workday.title }}</div>
    {% if workday.description is not none %}
      {{ workday.description | md_to_html }}
    {% endif %}
  </div>
  {% if workday.state in ('confirmed', 'done') %}
    <div class="card-footer workday-personnel">
      <div><i class="bi bi-person-gear me-1"></i><span>{{ workday.manager.display_name }}</span></div>
      <div>
        <i class="bi bi-people me-1"></i>
        {%- for poll in workday.user_polls if poll.fixed -%}
          <span class="text-nowrap">{{ poll.user.display_name }}</span>{{ ', ' if not loop.last }}
        {%- endfor -%}
      </div>
    </div>
  {% else %}
    <div class="card-body d-flex justify-content-between align-items-center">
      <div class="workday-lead-icon" data-bs-toggle="tooltip"
          data-bs-title="Leitung: {{ workday.manager.display_name }}"
          {%- if request.has_permission('manage') or (request.has_permission('lead') and workday.manager_id == request.identity.id) %} -%}
            onclick="window.location='{{ request.route_url('workday.assign', id=workday.id) }}'"
          {%- endif -%}>
        <i class="bi bi-person-gear"></i>
      </div>
      {% if request.identity.id != workday.manager_id %}
        <div class="btn-group btn-group-sm" role="group" id="btn-group{{ workday.id }}">
          {% set state = get_poll_state(workday) -%}
          <button type="button" class="btn btn-outline-danger{%- if state == 'no' %} active{% endif %}"
              onclick="set_workday_poll(this, {{ workday.id }})"
              value="no" data-bs-toggle="tooltip" data-bs-title="Nein">
            <i class="bi bi-x-circle"></i>
          </button>
          <button type="button" class="btn btn-outline-warning{%- if state == 'possible' %} active{% endif %}"
              onclick="set_workday_poll(this, {{ workday.id }})"
              value="possible" data-bs-toggle="tooltip" data-bs-title="Möglich">
            <i class="bi bi-check"></i>
          </button>
          <button type="button" class="btn btn-outline-success{%- if state == 'yes' %} active{% endif %}"
              onclick="set_workday_poll(this, {{ workday.id }})"
              value="yes" data-bs-toggle="tooltip" data-bs-title="Ja">
            <i class="bi bi-check-circle"></i>
          </button>
        </div>
      {% else %}
        <div>
          <button type="button" class="btn btn-outline-success active"
              data-bs-toggle="tooltip" data-bs-title="Du bist Teamleiter">
            <i class="bi bi-check-circle"></i>
          </button>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{%- endmacro %}


{% block head %}
<link rel="stylesheet" href="{{ request.static_url('triweb:static/css/calendar.css') }}">
{% endblock head %}

{% block content %}
<div class="container content">
  <h1>Werkstattkalender</h1>
  <p>
    Bitte tragt eure Verfügbarkeit für die einzelnen Arbeitstage, Events oder
    Seminaren im untenstehenden Kalender ein. Die Leiter des jeweiligen Anlasses
    werden sich etwa eine Woche vor dem Termin bei euch mit weiteren
    Informationen melden. Anpassungen und Ergänzungen im Werkstattkalender
    werden zeitnah kommuniziert.
  </p>
  <p>
    Jeder Eintrag im Werkstattkalender wird als verbindliche An- oder Abmeldung
    zum jeweiligen Anlass verstanden.
  </p>
  <div class="row my-4 g-2">
    {% for column in columns %}
      <div class="col-12 col-xxl-2 col-lg-3 col-md-4 col-sm-6">
        {% for month in column %}
          {% if not month.continued %}
            {{ month_card(month.num) }}
          {% endif %}
          {% for workday in month.workdays %}
            {{ workday_card(workday) }}
          {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
<script>
  const tooltip_elements = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  let tooltips = []
  for (el of tooltip_elements) {
    tooltips.push(new bootstrap.Tooltip(el))
  }

  const date_elements = document.querySelectorAll("span[convert=to_date]");
  for (el of date_elements) {
    d = any_to_date(el.innerText);
    el.innerText = d.toLocaleDateString('de', {weekday:'short', day:'numeric', month:'numeric'})
  }

  async function set_workday_poll(button, workday_id) {
    let state = button.value;
    let url = `/rest/workday/${workday_id}/poll?state=${state}`
    fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error(`URL: '${url}' is not reachable!`);
        }
        response.json()
          .then(data => {
            if (data.ok) {
              set_active_btn(workday_id, state);
              console.log('workday poll: ok');
            }
          })
      })
      .catch(error => {
        console.log(`workday poll: ${error}`);
      })
  }

  function get_active_btn(workday_id) {
    let btns = document.querySelectorAll(`#btn-group${workday_id} button`)
    for (btn of btns) {
      if (btn.classList.contains('active')) {
        return btn.value;
      }
    }
  }

  function set_active_btn(workday_id, state) {
    let btns = document.querySelectorAll(`#btn-group${workday_id} button`)
    for (btn of btns) {
      if (btn.value == state) {
        btn.classList.add('active');
      } else {
        btn.classList.remove('active');
      }
    }
  }

</script>
{% endblock content %}
