{% extends "layout.jinja2" %}

{% macro loco_card(loco) -%}
<div class="card engine position-relative"
    {% if request.has_permission('lead') %}
      onclick="window.location='{{ request.route_url('vehicle.state', id=loco.id) }}'"
    {% endif %}>
  <a class="btn btn-outline-primary btn-report-issue m-3" href="">Mangel melden</a>
  <div class="row g-0">
    <div class="col-4">
      <img src="{{ request.static_url('triweb:static/imgs/card-%s.jpg' % loco.token) }}"
          class="img-fluid rounded-start">
    </div>
    <div class="col-8">
      <ul class="list-group list-group-flush">
        <li class="list-group-item engine-header">
          <h5 class="card-title">{{ loco.display_name }}</h5>
          <span class="badge text-bg-{{ state_badge_colors.get(loco.state, 'warning') }}">{{ loco.STATES.get(loco.state, 'Unbekannt') }}</span>
          {% if loco.state == 'operative' %}
            {% if loco.type == 'steam' %}
              {% if loco.boiler_emtpy %}
                <span class="badge text-bg-info"><i class="bi bi-info-circle-fill"></i> Kessel leer</span>
              {% endif %}
              {% if loco.check_leakage %}
                <span class="badge text-bg-warning"><i class="bi bi-exclamation-triangle-fill"></i> Dichtigkeitsprobe</span>
              {% endif %}
            {% elif loco.type == 'diesel' and loco.low_fuel %}
              <span class="badge text-bg-warning"><i class="bi bi-exclamation-triangle-fill"></i> Tanken</span>
            {% endif %}
          {% endif %}
        </li>
        <li class="list-group-item engine-details">
          <p><b>Standort:</b> {{ loco.location }}</p>
          {% if loco.manager is not none %}
            <p><b>Lok-Götti:</b> {{ loco.manager.display_name }}</p>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</div>
{%- endmacro %}


{% block head %}
<link rel="stylesheet" href="{{ request.static_url('triweb:static/css/overview.css') }}">
{% endblock head %}

{% block content %}

<div class="container content">
  <h1>Übersicht</h1>
  <p>
    Die folgende Übersicht gibt Auskunft über alle Triebfahrzeuge, welche durch
    den DVZO instand gehalten werden.
  </p>

  <h2>Dampflokomotiven</h2>

  <div class="row">
    {% for loco in steam_locos %}
      <div class="col-lg-6 col-xxl-4 mb-3">
        {{ loco_card(loco) }}
      </div>
    {% endfor %}
  </div>

  <h2>Elektrolokomotiven</h2>

  <div class="row">
    {% for loco in electric_locos %}
      <div class="col-lg-6 col-xxl-4 mb-3">
        {{ loco_card(loco) }}
      </div>
    {% endfor %}
  </div>

  <h2>Traktoren</h2>

  <div class="row">
    {% for loco in diesel_locos %}
      <div class="col-lg-6 col-xxl-4 mb-3">
        {{ loco_card(loco) }}
      </div>
    {% endfor %}
  </div>

</div>
{% endblock content %}
