{% extends "layout.jinja2" %}

{% block content %}
<div class="container content">
  <h1>Arbeitstag {{ 'Bearbeiten' if action == 'edit' else 'Hinzufügen' }}</h1>

  <form id="form" name="{{ form.name }}" method="post" novalidate>
    <div class="mb-2">
      <label class="form-label" for="title">Titel</label>
      <input class="form-control{{ form.title.get_valid_cls() | prefix(' ') }}" id="title" name="title" value="{{ form.title.value }}" />
      <div class="invalid-feedback">{{ form.title.err_msg }}</div>
    </div>
    <div class="mb-2">
      <label class="form-label" for="state" >Status</label>
      <select class="form-select{{ form.state.get_valid_cls() | prefix(' ') }}" id="state" name="state">
        {% for state, state_desc in form.state.options.items() %}
          <option {{ 'selected' if form.state.value == state }} value="{{ state }}">{{ state_desc }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="row g-2 mb-2">
      <div class="col-md-6">
        <label class="form-label" for="date">Datum</label>
        <input class="form-control{{ form.date.get_valid_cls() | prefix(' ') }}" id="date" name="date" type="date" value="{{ form.date.value }}" />
        <div class="invalid-feedback">{{ form.date.err_msg }}</div>
      </div>
      <div class="col-md-6">
        <label class="form-label" for="worktime">Arbeitszeiten</label>
        <div class="input-group has-validataion" id="worktime">
          <input class="form-control{{ form.start_time.get_valid_cls() | prefix(' ') }}" id="start_time" name="start_time" type="time" value="{{ form.start_time.value }}" />
          <span class="input-group-text">bis</span>
          <input class="form-control{{ form.end_time.get_valid_cls() | prefix(' ') }}" id="end_time" name="end_time" type="time" value="{{ form.end_time.value }}" />
          <div class="invalid-feedback">{{ form.start_time.err_msg }}</div>
          <div class="invalid-feedback">{{ form.end_time.err_msg }}</div>
        </div>
      </div>
    </div>
    <div class="mb-2">
      <label class="form-label" for="manager_id">Teamleiter</label>
      <select class="form-select" id="manager_id" name="manager_id">
        {% for team_leader in form.manager_id.options %}
          <option {{ 'selected' if form.manager_id.value == team_leader.id }} value="{{ team_leader.id }}">{{ team_leader.display_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-2">
      <label class="form-label" for="vehicles" >Triebfahrzeuge</label>
      <select multiple class="form-select{{ form.vehicles.get_valid_cls() | prefix(' ') }}" id="vehicles" name="vehicles">
        {% for vehicle in form.vehicles.options %}
          <option {{ 'selected' if vehicle.id in form.vehicles.ids }} value="{{ vehicle.id }}">{{ vehicle.display_name }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">{{ form.vehicles.err_msg }}</div>
    </div>
    <div class="mb-2">
      <label class="form-label" for="description">Beschreibung</label>
      <textarea class="form-control" id="description" name="description" rows="5">{{ form.description.value }}</textarea>
    </div>
    <div class="form-check my-2">
      <input class="form-check-input" id="cook" name="cook" type="checkbox" value="cook" {{ 'checked' if form.cook.value }}>
      <label class="form-check-label" for="private">Rottenküche in Betrieb</label>
    </div>
    <div class="mt-4">
      <button class="btn btn-primary" type="submit" id="form-save-btn" name="form.submitted" value="save" {{ 'disabled' if action == 'edit' }}>Speichern</button>
      {% if action == 'edit' %}
        {% if form.validated %}
          <a class="btn btn-secondary" href="{{ request.url }}">Verwerfen</a>
        {% else %}
          <button class="btn btn-secondary" type="reset" id="form-reset-btn" disabled>Zurücksetzen</button>
        {% endif %}
      {% endif %}
      <a class="btn btn-secondary ms-4" href="{{ request.route_url('workdays') }}">Zurück</a>
    </div>
  </form>
</div>
{% if action == 'edit' %}
  <script src="{{ request.static_url('triweb:static/js/form_utils.js') }}"></script>
{% endif %}
{% endblock content %}
