div.content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

div.content h1 {
  margin-bottom: 2rem;
}

div.content h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

div.content h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

input[type="number"] {
  text-align: end;
}

input[type="number"]::-webkit-inner-spin-button {
  margin-left: 8px;
}

tr[onclick] {
  cursor: pointer;
}

i.icon::before, [class^="icon-"]::before {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 1.25rem;
  height: 1.25rem;
  background-size: 1.25rem;
  background-repeat: no-repeat;
}

i.icon-type-crit:before {
  background-image: url(/static/imgs/type-crit.png);
}

i.icon-type-task:before {
  background-image: url(/static/imgs/type-task.png);
}

i.icon-type-lack:before {
  background-image: url(/static/imgs/type-lack.png);
}

i.icon-type-edu:before {
  background-image: url(/static/imgs/type-edu.png);
}

i.icon-type-epic:before {
  background-image: url(/static/imgs/type-epic.svg);
}

i.icon-type-sub:before {
  background-image: url(/static/imgs/type-sub.svg);
}

i.icon-prio-highest:before {
  background-image: url(/static/imgs/prio-highest.svg);
}

i.icon-prio-high:before {
  background-image: url(/static/imgs/prio-high.svg);
}

i.icon-prio-medium:before {
  background-image: url(/static/imgs/prio-medium.svg);
}

i.icon-prio-low:before {
  background-image: url(/static/imgs/prio-low.svg);
}

i.icon-prio-lowest:before {
  background-image: url(/static/imgs/prio-lowest.svg);
}

i.icon-diff-highest:before {
  background-image: url(/static/imgs/diff-highest.svg);
}

i.icon-diff-high:before {
  background-image: url(/static/imgs/diff-high.svg);
}

i.icon-diff-medium:before {
  background-image: url(/static/imgs/diff-medium.svg);
}

i.icon-diff-low:before {
  background-image: url(/static/imgs/diff-low.svg);
}

i.icon-cook:before {
  background-image: url(/static/imgs/cook-1x.png);
}

div.issue-header {
  padding-bottom: 0.75rem;
  margin-bottom: 1.5rem;
}

div.issue-badges {
  font-size: 1.25rem;
}

div.issue-badges i.icon::before, div.issue-badges [class^="icon-"]::before {
  width: 1.75rem;
  height: 1.75rem;
  vertical-align: middle;
  background-size: 1.75rem;
  border-radius: var(--bs-border-radius);
}

div.issue-badges .badge {
  height: 1.75rem;
  vertical-align: middle;
}

div.issue-badges .btn {
  height: 1.75rem;
  --bs-btn-padding-y: 0.15rem;
}

div.issue-details th {
  width: 40%;
}

div.alert i.alert-icon {
  font-size: 32px;
  margin-right: 1rem; 
}

footer img.social-icon {
  width: 24px;
}
